body {
cursor: default;
}

#title{
width:100%;
font-size:300%;
text-align:center;
}

#lock {
font-size: 80%;
}

#headFun {
text-align: center;
}

#nextRound{
font-size: 80%;
height: 2em;
display: inline-block;
/* cursor: pointer; */
}

#eliminatePlayers{
font-size: 80%;
height: 2em;
display: inline-block;
/* cursor: pointer; */
}


/*functions list*/
#functionsListWrapper{
position:absolute;
cursor:pointer;
background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
width:30px;
height:30px;
}
#functionsList{
display:none;
position:absolute;
left:40px;
background-color:#FFF;
border:1px #369 solid;
padding:10px;
border-radius:5px;
}
#functionsList button{
cursor:pointer;
display:block;
width:200px;
height:30px;
margin:5px;
border-radius:5px;
background-color:#FFF;
border:1px #ccc solid;
font-size:120%;
}
#functionsList button:hover{
background-color: #e6e6e6;
border-color: #adadad;
}

#functionsList button.btn-danger{
color: #fff;
background-color: #d9534f;
border-color: #d43f3a;
}

/*user names form*/
#form_userNames form label{
display:inline-block;
width:100px;
}
#form_userNames form div{
margin:5px 0;
}
#form_userNames form input{
width: 190px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:last-child{
background-color:#369;
color:#FFF;
font-weight:bold;
}

/*players list display*/
ul#playerList{
list-style: none;
}

ul#playerList li {
clear: both;
margin-bottom:10px;
/* height:30px; */
}

.playerNum{
width:40px;
margin-right:20px;
font-size:150%;
min-height: 0.9em;
display: inline-block;
/* float:left; */
}

.playerName{
width:180px;
font-size:150%;
margin-right:20px;
min-height: 0.9em;
display: inline-block;
/* float:left; */
}

/*score display*/
.playerScore{
margin-right:10px;
font-size:150%;
display: inline-block;
/* float:left; */
}

.scoreBlock{
display: inline-block
}

.scoreBlock.complete{
border:1px #000 solid;
}

input{
cursor: auto;
}

.header{
cursor: pointer;
font-weight: bold;
}

div.point{
border:1px #000 solid;
width:20px;
height:20px;
/* float:left; */
margin-left:3px;
margin-right:3px;
/* margin-top: -1px; */
margin-bottom: -5px;
border-radius:10px;
cursor:pointer;
display: inline-block;
}

.separator{
display: inline;
}

div.point.odd{
background-color:#00F;
}

div.point.even{
background-color:#000;
}

#playerList.waiting .playerLine:not(.selected) {
color:#000;
}

.playerLine:not(.selected) {
color:#AAA;
}

#playerList > .eliminated {
color:#DDD;
}

.eliminated .playerScore {
display: none;
}

#giveScore {
display: inline-block;
font-size: 80%;
}

.playerStatus {
width:16px;
margin-right:20px;
/* font-size:150%; */
min-height: 1em;
display: inline-block;
}

.playerControl {
width:16px;
margin-right:20px;
/* font-size:150%; */
min-height: 1em;
display: inline-block;
}

body.edition_unsafe div.playerControl.header {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'><rect x='6' y='0' width='4' height='16' style='fill:#008000'/><rect x='0' y='6' width='16' height='4' style='fill:#008000'/></svg>");
    cursor:pointer;
}

body.edition_unsafe div.playerControl:not(.header) {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'><rect x='0' y='6' width='16' height='4' style='fill:#FF0000'/></svg>");
    cursor:pointer;

}

.playerLine.selected:not(.eliminated) .playerStatus {
background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'><polygon points='0,0 0,16 14,8' style='fill:#008000'/></svg>");
cursor:pointer;
}

.playerLine:not(.selected):not(.eliminated) .playerStatus {
background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'><polygon points='0,0 4,0 4,16 0,16' style='fill:#d45500'/><polygon points='8,0 12,0 12,16 8,16' style='fill:#d45500'/></svg>");
cursor:pointer;

}

.playerLine.eliminated  .playerStatus {
background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'><polygon points='4,0 16,12 12,16 0,4' style='fill:#ff0000'/><polygon points='12,0 0,12 4,16 16,4' style='fill:#ff0000'/></svg>");
}

.edition_safe > #lock span:before {
content: "safe";
}

.edition_unsafe > #lock span:before {
content: "unsafe";
}

/* .edition_play > #eliminatePlayers:before { */
/* content: "Eliminate players"; */
/* } */

/* .edition_eliminate > #eliminatePlayers:before { */
/* content: "Stop elimination"; */
/* } */

/* /\* scoreAttribution *\/ */
/* #form_scoreAttribution .improScore{ */
/* margin: 20px 80px; */
/* } */
